#editor {
    margin: 0;
    height: 400px;
}

#toolbar {
    margin: 5px 0;
    padding: 3px;
    cursor: default;
    background: #fff5e1;
    border-radius: 5px;
}

#toolbar .button {
    font-size: 12pt;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    position: relative;
    background: #fff5e1;

    border-color: #fff5e1;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

#toolbar .group .button {
    background: #fff5e1;
}

#toolbar .group .button:hover {
    border-color: #efe6d3 #989189 #989189 #efe6d3;
    background: linear-gradient(to bottom, #fff5e1, #d3cab8)
}

#toolbar .button:hover {
    border-color: #efe6d3 #989189 #989189 #efe6d3;
    background: linear-gradient(to bottom, #fff5e1, #d3cab8)
}

#toolbar .button span {
    display: block;
    height: 24px;
    margin: 0;
    padding: 0;
    background-image: url('../images/editor/toolbaricons.png');
}

#toolbar .button.pressed {
    border-color: #989189 #efe6d3 #efe6d3 #989189;
    background: linear-gradient(to bottom, #d3cab8, #fff5e1)
}

#checkbox_in {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.comparsion {
    position: absolute;
	z-index: 1000;
    visibility: hidden;
}

.button-comparsion span       { background-position: 0 0; }
.button-whitespaces span     { background-position: -24px 0; }
.button-accents span { background-position: -48px 0; }
.button-binaryopeators span { background-position: -72px 0; }
.button-arrows span { background-position: -96px 0; }
.button-comparsion2 span { background-position: -120px 0; }
.button-sets span { background-position: -144px 0; }
.button-diversesimbols span { background-position: -168px 0; }
.button-greeksmall span { background-position: -192px 0; }
.button-greeklarge span { background-position: -216px 0; }
.button-boundaries span { background-position: -240px 0; }
.button-mathematicalconstructions span { background-position: -264px 0; }
.button-subscript span { background-position: -288px 0; }
.button-operators span { background-position: -312px 0; }
.button-abobebelow span { background-position: -336px 0; }
.button-arrowwithcaption span { background-position: -360px 0; }

.button-leq span       { background-position: 0 -24px; }
.button-geq span     { background-position: -24px -24px; }
.button-prec span { background-position: -48px -24px; }
.button-succ span { background-position: -72px -24px; }
.button-triangleleft span { background-position: -96px -24px; }
.button-triangleright span { background-position: -120px -24px; }
.button-neq span { background-position: -144px -24px; }
.button-equiv span { background-position: -168px -24px; }
.button-approx span { background-position: -192px -24px; }
.button-cong span { background-position: -216px -24px; }
.button-propto span { background-position: -240px -24px; }